:root {
	--bg-global: #01092a;
	--action-color: #00ffba;
}

* {
	font-family: Segoe UI;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color: white;
}

a:active,
a:focus,
button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}
